main {
	position: relative;
	margin-left: 300px;
	display: flex;
}
.aside_wrap {
	position: relative;
	width: 150px;
	height: 700px;
	border: 1px solid #eee;
	border-radius: 3px;
	margin: 30px 60px;
	background-color: #eee;
}
.aside_wrap .side_title {
	font-size: 12px;
	font-weight: 300;
	text-align: center;
}
.aside_wrap .side_info {
	width: 140px;
	height: 160px;
	border: 1px solid #eee;
	border-radius: 3px;
	margin: auto;
	background-color: #ffffff;
}
.aside_wrap .side_info .info_img {
	width: 130px;
    height: 140px;
    overflow: hidden;
    box-sizing: border-box;
    display: inline-block;
	margin-left: 5px;
	padding-top: 5px;
}
.aside_wrap .side_info .info_img img {
	width: 100%;
    height: 90%;
}
.aside_wrap .side_info .info_img i {
	padding: 30px;
}
.aside_wrap .side_info .info_item {
	font-size: 11px;
	font-weight: 300;
	text-align: center;
	margin-top: -15px;
}